html {
    box-sizing: border-box;
    font-size: 15px;
    color: rgba(46, 49, 49, 1);
    font-family: "Lexend Mega", sans-serif;
    --main-header-primary-color: white;
    --main-header-secondary-color: white;
    --main-header-tertiary-color: white;
    --main-header-quaternary-color: rgba(46, 49, 49, 1);
    --main-header-shadow-color: rgba(0, 0, 0, 0.9);
    --main-header-font-family: "Lexend Mega", sans-serif;
    --main-header-menu-width: 450px;
    --main-header-menu-button-height: 2rem;
    --main-header-menu-button-width: 9rem;
    --main-header-transition: all 0.35s ease
  }


  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

/* vietnamese */
@font-face {
  font-family: 'Lexend Mega';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lexendmega/v4/qFdA35aBi5JtHD41zSTFEs7C4howig.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Lexend Mega';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lexendmega/v4/qFdA35aBi5JtHD41zSTFEs7D4howig.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lexend Mega';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lexendmega/v4/qFdA35aBi5JtHD41zSTFEs7N4ho.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}