html {
  box-sizing: border-box;
    font-size: 14.5px;
    color: rgba(46, 49, 49, 1);
    font-family: "Andalé Mono", sans-serif;
    --main-header-primary-color: white;
    --main-header-secondary-color: white;
    --main-header-tertiary-color: white;
    --main-header-quaternary-color: rgba(46, 49, 49, 1);
    --main-header-shadow-color: rgba(0, 0, 0, 0.9);
    --main-header-font-family: "Andalé Mono", sans-serif;
    --main-header-transition: all 0.35s ease
  }


  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

