.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    background-color: white;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    position: fixed;
    z-index: 5;
    width: 100%;
    box-shadow:0 0 3px var(--main-header-shadow-color);
    transition: var(--main-header-transition);
}

.container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

  .main-header-menu {
    display:none;
}


.main-header-menu ul {
    display:flex;
    justify-content:center;
    width: 100%;
    list-style-type:none
}

.main-header-menu a {
    display:flex;
    align-items: center;
    justify-content:center;
    background:var(--main-header-secondary-color);
    color:var(--main-header-quaternary-color);
    width: 9rem;
    height: 2rem;
    border-radius:5px;
    transition:var(--main-header-transition);
    text-decoration:none
}

.main-header-menu a:hover {
    
    box-shadow:0px 0px 10px 0px var(--main-header-shadow-color);
    border-radius: 5px;
  }
            

  .dropdown-menu {
    display:flex;
    width:100%
}


.dropdown-menu ul {  
    display:flex;
    flex-direction:column;
    align-items: center;
    position: absolute;
    height:0;
    top:80px;
    left:0;
    background:var(--main-header-secondary-color);
    overflow: hidden;
    transition:var(--main-header-transition);
    box-shadow:0 0 3px var(--main-header-shadow-color);

 }

.dropdown-menu a {
    height: calc(2rem * 2.6);
    width: 100%;
    margin: 0;
    border: none;
    border-radius: unset;
    
}

.dropdown-menu a:hover {
    box-shadow:unset
   
}

.main-header-dropdown-button {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height: 2rem;
    min-width: 4rem;
    border-radius:5px;
    cursor:pointer;
    transition:var(--main-header-transition)
    }

.main-header-dropdown-button:hover {
 background:rgba(232, 236, 241, 1);
 box-shadow:0 0 3px var(--main-header-shadow-color);
}


.main-header-dropdown-button .stripes {
    background:var(--main-header-quaternary-color);
    height:2px;
    min-width:30px;
    margin: 2px 0;
        }


button {
    cursor:pointer;
}

header img {
    height: 4rem;
    
}

   header a {
       text-decoration: none;
}


   .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    display: block;
    z-index: 3;
}



.background img {
    height: 350px;
    width: auto;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.divider {
    text-align: center;
    padding: 3rem 0 3rem 0;
}

header li {
    list-style: none;
   }



li {
    list-style: disc;
    margin-left: 2rem;
    line-height: 2.2rem;
}



#linkedin, #github {
    height: 30px;
    width: auto;
    margin-left: 1rem;
    box-shadow: none;
    
}

#youtube {
    height: 30px;
    width: auto;
    margin-left: 1rem;
    box-shadow: none;
    
}



.vision {
    display: flex;
    flex-flow: column nowrap;
   background-color: rgba(232, 236, 241, 1);
   padding: 2rem 2rem 5rem 2rem;
   border-top: solid 1px rgba(255, 236, 178, 0.25);
   border-bottom: solid 1px rgba(255, 236, 178, 0.25);
   }


.vision h2 {
    text-align: center;
    padding-bottom: 1rem;
   
}

#vispara {
    line-height: 1.8rem;
    text-align: center;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1rem 1rem 1rem;
     border: solid 1px;
    background-color: rgba(255, 236, 178, 0.25);
     box-shadow: 3px 3px 5px 6px #ccc;
       
}

footer {
    padding: 3rem 2rem 5rem 2rem;
    background-color: black;
    color:rgba(232, 236, 241, 1);
    border-top: solid 1px rgba(255, 236, 178, 0.25);  
}

footer h2 {
    text-align: center;
    padding-bottom: 1rem;
    text-decoration: underline;
}

footer nav {
    display: flex;
    flex-flow: column nowrap;
    line-height: 2.2rem;
    
}

.footer {
    display: flex;
    flex-flow: row nowrap;
    gap: 8rem;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.projects {
    display: flex;
    flex-flow: column nowrap;
    gap: 4rem;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    
}

.project {
    text-align: center;
    line-height: 1.8rem;
    
}

.project h3 {
    font-weight: bold;
}

.project p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.project img {
    height: 100px;
    width: auto;
    box-shadow: none;
}

/* Desktop */        
@media all and (min-width: 979px) {
    .main-header-menu {
    display: flex;
}

.main-header-menu ul {
    gap: 2rem;
}

.container {
    gap: 4rem;
}
        
   .dropdown-menu {
    display:none;
}
        
  .main-header-dropdown-button {
   display: none;
}

.main-header h2 {
    display: none;
}

header img {
    height: 4rem;
    
}
.banner {
    position: relative;
    text-align: center;
   
 }

   .banner h1 {
   position: absolute;
   top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:rgba(232, 232, 232, 1);
  z-index: 1;
  font-size: xx-large;
  text-transform: capitalize;
 }

   .banner img {
       object-fit: cover;
       bottom: 130px;
             width: 100%;
       height: auto;
       z-index: 0; 
       filter: brightness(80%); 
           
   }


   #mobilename {
    display: none;
}

.background {
    padding: 0 2rem 5rem 2rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 4rem;
    text-align: left;
    align-items: center;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    border-top: solid 1px rgba(255, 236, 178, 0.25);
}

.profileicons {
    display: flex;
    margin-left: 2rem;
    margin-top: 2rem;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    gap: 1rem;
}
}

/* Mobile */    
@media all and (max-width: 979px) {
    .container {
        gap: 4rem;
    }




    .banner {
    text-align: center;
}
    .banner h1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgba(232, 232, 232, 1);
    z-index: 1;
    text-transform: capitalize;
}


    .banner img {
     width: 100%;
    height: auto;
    z-index: 0; 
    filter: brightness(65%); 
        
}

.profiledescription h3 {
    display: none;
}

#mobilename {
    display:
}

.background {
    padding: 0 2rem 5rem 2rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 1rem;
    text-align: left;
    align-items: center;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    border-top: solid 1px rgba(255, 236, 178, 0.25);
}

.profileicons {
    display: flex;
    margin-top: 4rem;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    gap: 1rem;
    justify-content: space-evenly;
}

.profiledescription ul {
display: flex;
flex-flow: column nowrap;
gap: 1rem;
margin-left: 3rem;
}

}

/*https://www.cssscript.com/demo/responsive-header-navigation-flexbox/