body {
    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.75rem;
    border-bottom: 1px solid rgba(232, 236, 241, 1);
    z-index: 2;
    background-color: white;
    flex-flow: row nowrap;
    flex: 1 1 auto;
  }

header nav .logo {
    grid-column: 1 / 3;
    z-index: 2;
}

header nav .logo img {
    height: 4rem;
    margin-right: 3rem;
    z-index: 2;

}

header nav {
    grid-column: 3 / 13;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
    z-index: 2;
    
   }

   header a {
       text-decoration: none;
   }

   main {
       grid-column: 1 / 13;
       grid-row: 2 / auto;
   }

  .banner {
   z-index: 0;
    position: relative;
    text-align: center;
    
   }

   .banner h1 {
   position: absolute;
   top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:rgba(232, 232, 232, 1)
    
   }

   .banner img {
       object-fit: cover;
       bottom: 130px;
           
   }

.background {
    padding: 0 2rem 5rem 2rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 4rem;
    text-align: left;
    align-items: center;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    border-top: solid 1px rgba(255, 236, 178, 0.25);
}

.background img {
    height: 350px;
    width: auto;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.divider {
    text-align: center;
    padding: 3rem 0 3rem 0;
}

li {
    list-style: disc;
    margin-left: 2rem;
    line-height: 2.2rem;
}



#linkedin, #github {
    height: 30px;
    width: auto;
    margin-left: 1rem;
    box-shadow: none;
    
}

#youtube {
    height: 30px;
    width: auto;
    margin-left: 1rem;
    box-shadow: none;
    
}

.profileicons {
    display: flex;
    margin-left: 2rem;
    margin-top: 2rem;
    flex-flow: row nowrap;
    flex: 1 1 auto;
}

.vision {
    display: flex;
    flex-flow: column nowrap;
   background-color: rgba(232, 236, 241, 1);
   padding: 2rem 2rem 5rem 2rem;
   border-top: solid 1px rgba(255, 236, 178, 0.25);
   border-bottom: solid 1px rgba(255, 236, 178, 0.25);
   }


.vision h2 {
    text-align: center;
    padding-bottom: 1rem;
   
}

#vispara {
    line-height: 1.8rem;
    text-align: center;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1rem 1rem 1rem;
     border: solid 1px;
    background-color: rgba(255, 236, 178, 0.25);
     box-shadow: 3px 3px 5px 6px #ccc;
       
}

footer {
    padding: 3rem 2rem 5rem 2rem;
    background-color: black;
    color:rgba(232, 236, 241, 1);
    border-top: solid 1px rgba(255, 236, 178, 0.25);  
}

footer h2 {
    text-align: center;
    padding-bottom: 1rem;
    text-decoration: underline;
}

footer nav {
    display: flex;
    flex-flow: column nowrap;
    line-height: 2.2rem;
    
}

.footer {
    display: flex;
    flex-flow: row nowrap;
    gap: 8rem;
    justify-content: center;
    align-content: center;
    align-items: center;
}